<section class="chief">
    <div class="chief_wraper">

        <div class="chief_textblock">

            <div class="chief_title">
                <p class="chief_title_head">Валерий Головко</p>
                <p class="chief_title_p">Руководитель проекта</p>
            </div>

            <div class="chief_info">
                <p class="chief_info_p">В среднем зарплата начинающего тестировщика (Junior QA Engineer ) составляет от 300-500 $, С
                    получением практического опыта зарплата постоянно растет и достигает 2000-3000 $. Несложно
                    подсчитать что при ваших затратах, уже через 2 месяца вы можете получить высокооплачиваемую
                    квалифицированную работу.</p>
                <div class="chief_info_jam"></div>
                <div class="chief_info_jam-shadow"></div>
                <div class="chief_info_arrow"></div>
            </div>

        </div>

        <div class="chief_imgblock"></div>

    </div>
</section>