<footer class="footer">
    <div class="footer_stuff_wraper">

        <div class="footer_logo">
            <a href="#"><img src="./img/footer_logo.png" alt=""></a>
        </div>

        <div class="footer_address">
            <p class="footer_address_p">г. Запорожье ул. Рекордная 11</p>
        </div>

        <div class="footer_phone">
            <img src="./img/topline_phone.svg" alt="">
        </div>

        <div class="footer_phonenumb">
            <p class="footer_phonenumb_p">(093)-099-1-099</p>
        </div>

        <div class="footer_social">
            <div class="footer_social_icons">
                <div class="social_icons">
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </div>
                <div class="social_icons">
                    <a href=""><i class="fa fa-vk" aria-hidden="true"></i></a>
                </div>
                <div class="social_icons">
                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="footer_developer">
                <a href=""><p class="footer_developer_p">Разработано “Company Name”</p></a>
            </div>

        </div>

    </div>
</footer>