<section class="forwho">
    <div class="forwho_wraper">

        <div class="forwho_title">
            <p class="forwho_title_p">для кого этот курс</p>
        </div>


        <div class="forwho_row">

            <div class="forwho_block">
                <div class="forwho_case forwho_case_blue">
                    <p class="forwho_case_header">аудитория 1</p>
                    <p class="forwho_case_text">Люди стремящиеся изменить свою жизнь к лучшему. Желающие расстаться с
                        прошлой низкооплачиваемой профессией, получив необходимые знания и навыки.</p>
                    <div class="forwho_logo"></div>
                </div>
            </div>

            <div class="forwho_block">
                <div class="forwho_case forwho_case_green">
                    <p class="forwho_case_header">студенты</p>
                    <p class="forwho_case_text">Люди стремящиеся изменить свою жизнь к лучшему. Желающие расстаться с
                        прошлой низкооплачиваемой профессией, получив необходимые знания и навыки.</p>
                    <div class="forwho_logo"></div>
                </div>
            </div>

            <div class="forwho_block">
                <div class="forwho_case forwho_case_orange">
                    <p class="forwho_case_header">начинающие It спец</p>
                    <p class="forwho_case_text">Начинающие IT-специалисты которые желают расширить свои познания и
                        приобрести актуальную специализацию, основанную на практических знаниях.</p>
                    <div class="forwho_logo"></div>
                </div>
            </div>

        </div>
    </div>
</section>