<header class="header">
    <div class="header_wrapper">
        <div class="header_string">
            <div class="header_logo"></div>
            <p class="header_string_first">курсы</p>
            <p class="header_string_second"><span>тестиро</span><span>вщиков</span></p>
            <p class="header_string_third">в Запорожье</p>
            <p class="header_string_fourth">Курс из 24 занятий реальной практики</p>
            <a href="#" class="btn">
                <div class="btn_outer">
                    <div class="btn_inner">
                        Получить новую профессию всего за 4500 грн.
                    </div>
                </div>
            </a>
        </div>
    </div>
</header>