<section class="study">
    <div class="study_wraper">

        <div class="study_title">
            <p class="study_title_p">обучение в itecs &mdash; это престижно</p>
        </div>


        <div class="study_row">

            <div class="study_block">
                <div class="study_case">
                    <img src="./img/study_1.png" alt="">
                    <p class="study_case_text">Преподаватели практикующие IT-специалисты</p>
                    <div class="study_logo"></div>
                </div>
            </div>
            <div class="study_block">
                <div class="study_case">
                    <img src="./img/study_2.png" alt="">
                    <p class="study_case_text">Курс акцентирован на практических занятиях</p>
                    <div class="study_logo"></div>
                </div>
            </div>
            <div class="study_block">
                <div class="study_case">
                    <img src="./img/study_3.png" alt="">
                    <p class="study_case_text">Максимальное количество знаний в краткие сроки</p>
                    <div class="study_logo"></div>
                </div>
            </div>
            <div class="study_block">
                <div class="study_case">
                    <img src="./img/study_4.png" alt="">
                    <p class="study_case_text">Удобное расположение в центре Запорожья</p>
                    <div class="study_logo"></div>
                </div>
            </div>


        </div>
    </div>
</section>