<section class="topline">
    <div class="topline_wraper">
        <div class="topline_white">
            <div class="topline_logo">
                <a href="#"><img src="./img/topline_logo.png" alt=""></a>
            </div>
            <div class="topline_name">
                <p class="topline_name_p">учебный центр</p>
            </div>
        </div>

        <div class="topline_blue">
            <div class="topline_address">
                <p class="topline_address_p">г. Запорожье ул. Рекордная 11</p>
            </div>
            <div class="topline_phone">
                <img src="./img/topline_phone.svg" alt="">
            </div>
            <div class="topline_phonenumb">
                <p class="topline_phonenumb_p">(093)-099-1-099</p>
            </div>
        </div>
    </div>
</section>
