@font-face {
  font-family: 'HelveticaNeueCyrLight';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueCyrBold';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot');
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueCyrRoman';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf') format('truetype');
}


@font-face {
  font-family: 'GillSansSemiBold';
  src: url('../fonts/GillSans/GillSans-SemiBold.eot');
  src: url('../fonts/GillSans/GillSans-SemiBold.woff') format('woff'),
  url('../fonts/GillSans/GillSans-SemiBold.ttf') format('truetype'),
  url('../fonts/GillSans/GillSans-SemiBold.svg#GillSans-SemiBold') format('svg');
}