$white: #ffffff;
$white-075: rgba(255, 255, 255, 0.75);
$white-050: rgba(255, 255, 255, 0.5);
$white-025: rgba(255, 255, 255, 0.25);

$black: #000000;
$black-075: rgba(0,0,0,.75);
$black-050: rgba(0,0,0,.5);
$black-025: rgba(0,0,0,.25);

$grey: #2f2f2f;
$mid-grey: #c2c2c2;
$light-grey: #ededed;

$light-blue: #00aeef;
$blue: #009dd8;

$light-green: #00a88d;
$green: #00947d;

$maroon: #37606a;

$light-orange: #d27748;
$orange: #c0693c;

