.chief {
  width: 100%;
  height: 380px;
  position: relative;
  //background-color: $light-grey;

  .chief_wraper {
    height: 100%;
    max-width: 1920px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    //background-color: $light-grey;
    background: linear-gradient(to bottom, $light-grey 0%, $light-grey 80%, $mid-grey 100%);
    //background: radial-gradient(ellipse 40% at bottom at right, $mid-grey 20% , $light-grey 100%);

    .chief_textblock {
      display: flex;
      flex-direction: column;
      width: 770px;
      .chief_title {

        .chief_title_head {
          margin-top: 30px;
          color: $black-075;
          font-family: 'HelveticaNeueCyrBold', sans-serif;
          font-size: 49px;
          text-align: right;
        }
        .chief_title_p {
          color: $black;
          font-family: 'HelveticaNeueCyrLight', sans-serif;
          font-size: 24px;
          text-align: right;
        }
      }
      .chief_info {
        width: 756px;
        height: 146px;
        border: 7px solid $white;
        color: $white;
        background-color: $light-blue;
        margin-top: 35px;
        position: relative;
        .chief_info_p {
          font-size: 17px;
          text-align: left;
          padding: 20px 45px 0 25px;
        }
        .chief_info_jam {
          display: block;
          position: absolute;
          width: 40px;
          height: 41px;
          bottom: -8px;
          left: -8px;
          background-color: $light-grey;
          z-index: 2;
          &:after {
            content: '';
            position: absolute;
            top: -17px;
            right: -3px;
            width: 0;
            height: 0;
            border-top: 26px solid transparent;
            border-right: 26px solid $white;
            border-bottom: 26px solid transparent;
            transform: rotate(135deg);
          }
        }
        .chief_info_jam-shadow {
          display: block;
          position: absolute;
          width: 20px;
          height: 30px;
          bottom: -5px;
          left: 18px;
          background-color: $black-025;
          transform: rotate(15deg);
        }
        .chief_info_arrow {
          display: block;
          position: absolute;
          width: 15px;
          height: 15px;
          bottom: 64px;
          right: -16px;
          border-top: 7px solid $white;
          border-right: 7px solid $white;
          background-color: $light-blue;
          transform: rotate(45deg);
        }
      }
    }
    .chief_imgblock {
      display: flex;
      width: 410px;
      background: url("../img/chief.png") no-repeat 70px 15px,
      url("../img/chief_bg.png") no-repeat 20px 75px;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

  .chief {
    height: 380px;

    .chief_wraper {
      max-width: 1366px;

      .chief_textblock {
        width: 470px;
        .chief_title {

          .chief_title_head {
            font-size: 49px;
          }
          .chief_title_p {
            font-size: 24px;
          }
        }
        .chief_info {
          width: 460px;
          height: 200px;
          margin-top: 20px;
          .chief_info_p {
            font-size: 17px;
            padding: 20px 45px 0 45px;
          }
          .chief_info_jam {
            background-color: #dadada;
            &:after {

            }
          }
          .chief_info_jam-shadow {

          }
          .chief_info_arrow {
            bottom: 84px;
          }
        }
      }
      .chief_imgblock {
        display: flex;
        width: 410px;
        background: url("../img/chief.png") no-repeat 60px 15px,
        url("../img/chief_bg.png") no-repeat 20px 75px;
      }
    }
  }

}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {

  .chief {
    height: 380px;

    .chief_wraper {
      max-width: 1024px;

      .chief_textblock {
        width: 380px;
        .chief_title {

          .chief_title_head {
            margin-top: 20px;
            font-size: 36px;
          }
          .chief_title_p {
            font-size: 18px;
          }
        }
        .chief_info {
          width: 370px;
          height: 200px;
          margin-top: 20px;
          .chief_info_p {
            font-size: 15px;
            padding: 20px 45px 0 45px;
          }
          .chief_info_jam {
            background-color: $light-grey;
            &:after {

            }
          }
          .chief_info_jam-shadow {

          }
          .chief_info_arrow {
            bottom: 84px;
          }
        }
      }
      .chief_imgblock {
        display: flex;
        width: 370px;
        background: url("../img/chief.png") no-repeat 60px 15px,
        url("../img/chief_bg.png") no-repeat 20px 75px;
        background-size: contain, contain;
      }
    }
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {

  .chief {
    width: 100%;
    display: block;
    position: relative;
    //height: 380px;
    height: auto;

    .chief_wraper {
      width: 100%;
      height: auto;
      max-width: 768px;
      position: relative;
      display: flex;
      flex-direction: column;
      //margin: 0 auto;
      justify-content: flex-start;

      .chief_textblock {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 90%;
        margin: 0 auto;
        .chief_title {
          width: 90%;
          margin: 0 auto;
          .chief_title_head {
            margin-top: 0;
            font-size: 49px;

          }
          .chief_title_p {

            font-size: 24px;

          }
        }
        .chief_info {
          width: 90%;
          margin: 0 auto;
          height: auto;
          border: 7px solid $white;
          margin-top: 35px;
          position: relative;
          .chief_info_p {
            font-size: 17px;
            text-align: left;
            padding: 20px 45px;
          }
          .chief_info_jam {

            &:after {

            }
          }
          .chief_info_jam-shadow {

          }
          .chief_info_arrow {
            bottom: -16px;
            right: 40px;
            transform: rotate(135deg);
          }
        }
      }
      .chief_imgblock {
        display: flex;
        position: relative;
        width: 70%;
        height: 380px;
        margin: 0 auto;
        background: url("../img/chief.png") no-repeat 70px 15px,
        url("../img/chief_bg.png") no-repeat 20px 75px;
      }
    }
  }

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 560px) {

  .chief {

    .chief_wraper {

      .chief_textblock {
        .chief_title {

          .chief_title_head {
            font-size: 32px;
          }
          .chief_title_p {
            font-size: 18px;
          }
        }
        .chief_info {
          .chief_info_p {
            font-size: 14px;
            padding: 20px 40px;
          }
          .chief_info_jam {

            &:after {

            }
          }
          .chief_info_jam-shadow {

          }
          .chief_info_arrow {

          }
        }
      }
      .chief_imgblock {
        width: 90%;
        height: 380px;

        background: url("../img/chief.png") no-repeat bottom left,
        url("../img/chief_bg.png") no-repeat 20px 75px;
        background-size: 280px, 90%;
      }
    }
  }

}