header {
  width: 100%;
  height: 765px;
  position: relative;

  .header_wrapper {
    background: url("../img/mesh.png") fixed, url("../img/header.png") no-repeat center;
    height: 100%;
    display: flex;
    position: relative;
    //margin: 0 auto;
    &:before {
      content: "";
      position: absolute;
      //left: 0;
      right: 50%;
      top: 0;
      width: 50%;
      max-width: 960px;
      height: 100%;
      background-color: $white;
      opacity: .3;
    }
    &:after {
      content: "";
      position: absolute;
      //right: 0;
      left: 50%;
      top: 0;
      width: 50%;
      max-width: 960px;
      height: 100%;
      background-color: $blue;
      opacity: .3;
    }
    .header_string {
      margin: 265px auto 0;
      width: 690px;
      text-align: center;
      position: relative;
      display: block;
      z-index: 2;
      .header_logo {
        position: absolute;
        display: block;
        opacity: .75;
        width: 194px;
        height: 200px;
        top: -140px;
        left: 50%;
        transform: translateX(-50%);
        background: url("../img/header_logo.png");
        z-index: -1;
      }
      .header_string_first {
        color: $black-075;
        font-family: 'HelveticaNeueCyrBold', sans-serif;
        font-size: 48px;
        text-transform: uppercase;
        padding-bottom: 10px;
      }
      .header_string_second {
        font-family: 'HelveticaNeueCyrBold', sans-serif;
        font-size: 72px;
        text-transform: uppercase;
        span:first-child {
          color: $blue;
        }
        span:last-child {
          color: $white;
        }

      }
      .header_string_third {
        color: $black-075;
        font-family: 'HelveticaNeueCyrBold', sans-serif;
        font-size: 48px;
        padding-bottom: 35px;
      }
      .header_string_fourth {
        color: $black-075;
        font-family: 'HelveticaNeueCyrLight', sans-serif;
        font-size: 36px;
        padding-bottom: 35px;
      }
      a.btn {
        display: block;
        position: relative;
        width: 640px;
        height: 86px;
        margin: 0 auto;
        z-index: 2;
        .btn_outer {
          position: absolute;
          width: 640px;
          height: 86px;
          border-radius: 43px;
          background-color: $light-blue;
          .btn_inner {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            color: $white;
            width: 626px;
            height: 68px;
            background: linear-gradient(to top, $blue 0%, $light-blue 100%);
            border: 1px solid $white;
            border-radius: 34px;
            box-shadow: inset 0 0 0 1px $white;
            line-height: 68px;
            font-size: 24px;
          }
        }
        &:before,
        &:after {
          z-index: -1;
          position: absolute;
          content: "";
          bottom: 15px;
          top: 0;
          left: 10px;
          width: 50%;
          max-width: 320px;
          border-radius: 63px;
          //background: rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 15px 1px rgba(0, 0, 0, 0.2);
          transform: rotate(-5deg);
        }
        &:after {
          transform: rotate(5deg);
          right: 10px;
          left: auto;
        }
        &:hover .btn_inner {
          background: linear-gradient(to top, $light-blue 0%, $blue 100%);
        }
      }
    }
  }
}




/* Medium Devices, Desktops */

@media only screen and (max-width: 1024px) {
  header {
    height: auto;

    .header_wrapper {
      background: url("../img/mesh.png") fixed, url("../img/header.png") no-repeat center top;
      background-size: cover, 1440px auto;
      &:before {
        right: 50%;
        top: 0;
        width: 50%;
        max-width: 960px;
        height: 100%;
      }
      &:after {
        left: 50%;
        top: 0;
        width: 50%;
        max-width: 960px;
        height: 100%;
      }
      .header_string {
        margin: 165px auto 50px;
        width: 500px;
        .header_logo {
          width: 144px;
          height: 120px;
          top: -90px;
          left: 50%;
          //background: url("../img/header_logo.png");
          background-size: 140px auto;
          transform: translateX(-50%);
        }
        .header_string_first {
          font-size: 36px;
          padding-bottom: 10px;
        }
        .header_string_second {
          font-size: 48px;
          span:first-child {
          }
          span:last-child {
          }

        }
        .header_string_third {
          font-size: 36px;
          padding-bottom: 18px;
        }
        .header_string_fourth {
          font-size: 24px;
          padding-bottom: 35px;
        }
        a.btn {
          width: 480px;
          height: 64px;
          margin: 0 auto;
          .btn_outer {
            width: 480px;
            height: 64px;
            border-radius: 32px;
            .btn_inner {
              width: 464px;
              height: 50px;
              border: 1px solid $white;
              border-radius: 25px;
              box-shadow: inset 0 0 0 1px $white;
              line-height: 50px;
              font-size: 18px;
            }
          }
          &:before,
          &:after {
            bottom: 15px;
            top: 0;
            left: 10px;
            width: 50%;
            max-width: 320px;
            border-radius: 63px;
            box-shadow: 0 15px 15px 1px rgba(0, 0, 0, 0.2);
            transform: rotate(-5deg);
          }
          &:after {
            transform: rotate(5deg);
            right: 10px;
            left: auto;
          }
          &:hover .btn_inner {

          }
        }
      }
    }
  }
}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  header {
    height: auto;

    .header_wrapper {
      background: url("../img/mesh.png") fixed, url("../img/header.png") no-repeat center top;
      background-size: cover, 992px auto;
      &:before {
        right: 50%;
        top: 0;
        width: 50%;
        max-width: 960px;
        height: 100%;
      }
      &:after {
        left: 50%;
        top: 0;
        width: 50%;
        max-width: 960px;
        height: 100%;
      }
      .header_string {
        margin: 65px auto 30px;
        width: 300px;
        .header_logo {
          width: 80px;
          height: 80px;
          top: -50px;
          left: 50%;
          background: url("../img/header_logo.png") no-repeat;
          background-size: 80px auto;
          transform: translateX(-50%);
        }
        .header_string_first {
          font-size: 24px;
          padding-bottom: 10px;
        }
        .header_string_second {
          font-size: 28px;
          span:first-child {
          }
          span:last-child {
          }

        }
        .header_string_third {
          font-size: 24px;
          padding-bottom: 18px;
        }
        .header_string_fourth {
          font-size: 16px;
          padding-bottom: 25px;
        }
        a.btn {
          width: 300px;
          height: 44px;
          margin: 0 auto;
          .btn_outer {
            width: 300px;
            height: 44px;
            border-radius: 22px;
            .btn_inner {
              width: 284px;
              height: 30px;
              border: 1px solid $white;
              border-radius: 15px;
              box-shadow: inset 0 0 0 1px $white;
              line-height: 30px;
              font-size: 12px;
            }
          }
          &:before,
          &:after {
            bottom: 15px;
            top: 0;
            left: 10px;
            width: 50%;
            max-width: 320px;
            border-radius: 63px;
            box-shadow: 0 15px 15px 1px rgba(0, 0, 0, 0.2);
            transform: rotate(-5deg);
          }
          &:after {
            transform: rotate(5deg);
            right: 10px;
            left: auto;
          }
          &:hover .btn_inner {

          }
        }
      }
    }
  }

}